
.about {
    margin: 40px;
    height: 100vh;
}

.a-company, .a-mission, .a-vision, .a-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 35px;
    color: #3C3D37;
    text-transform: uppercase;
}

p{
    text-align: center;
}

@media (max-width: 480px) {
    
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .bar {
    background-color: #1cbbb4;
    margin: 3px;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    position:fixed;
    background-color: #1cbbb4;
    font-size: 25px;
    width: 450px;
    color: white;
    font-size: 15px;
    left: 0px;
    gap: 30px;
    top: 55px;
  } 

  .nav-menu li a{
    color: white;
    padding: 20px;
  }

  #active-nav {
      text-decoration: underline;
      text-underline-offset: 10px;
      font-weight: 400;
      color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  

  .about {
    margin-bottom: 600px;
    height: 90%;
  }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .nav-menu {
      display: none;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .bar {
      background-color: #1cbbb4;
      margin: 3px;
    }

    .nav-menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 25vh;
      position:fixed;
      background-color: #1cbbb4;
      font-size: 25px;
      width: 100vw;
      color: #1cbbb4;
      font-size: 15px;
      left: 0px;
      gap: 25px;
      top: 70px;
    } 

    .nav-menu li a{
      color: white;
      padding: 20px;
    }

    #active-nav {
        text-decoration: underline;
        text-underline-offset: 10px;
        font-weight: 400;
        color: white;
    }
    
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .about .a-company h1, .a-mission h1, .a-vision h1, .a-value h1 {
      font-size: 29px;
      text-align: center;
    }
    
  }
}