.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    height: 60vh;
    gap: 40px;
}

.card-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
}

.card-gallery:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-gallery img {
    width: 345px;
    height: 300px;
}

.card-gallery button {
    width: 100px;
    background-color: #1cbbb4;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.card-gallery button:hover {
    background-color: #48CFCB;
    transform: scale(1.1);
}

.card-gallery h3 {
    font-weight: bold;
    color: black;
    font-size: 25px;
    padding: 5px;
    text-transform: uppercase;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      z-index: -1;
    }
    .nav-menu {
      display: none;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .bar {
      background-color: #1cbbb4;
      margin: 3px;
    }
  
    .nav-menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 300px;
      position:fixed;
      background-color: #1cbbb4;
      font-size: 25px;
      width: 450px;
      color: white;
      font-size: 15px;
      left: 0px;
      gap: 30px;
      top: 55px;
    }
  
    .nav-menu li a{
      color: white;
      padding: 20px;
    }

    #active-nav {
        text-decoration: underline;
        text-underline-offset: 10px;
        font-weight: 400;
        color: white;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    
      .footer {
          margin-top: 200px;
      }
      .con-footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    
      .con-footer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .con-footer2 span {
        display: none;
      }
    
      .support1{
        text-align: center;
      }
  
      /* Gallery */
      .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 40px;
        height: 100%;
        gap: 20px;
    }

    .card-gallery img {
      width: 245px;
      height: 260px;
  }
}
    
    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
      body {
          nav {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
            .nav-menu {
              display: none;
            }
            .hamburger {
              display: flex;
              flex-direction: column;
              margin: 0;
              padding: 0;
            }
            .bar {
              background-color: #1cbbb4;
              margin: 3px;
            }
  
            .nav-menu.active {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 25vh;
              position:fixed;
              background-color: #1cbbb4;
              font-size: 25px;
              width: 100vw;
              color: #1cbbb4;
              font-size: 15px;
              left: 0px;
              gap: 25px;
              top: 70px;
            } 
          
            .nav-menu li a{
              color: white;
              padding: 20px;
            }

            #active-nav {
                text-decoration: underline;
                text-underline-offset: 10px;
                font-weight: 400;
                color: white;
            }


            .hamburger.active .bar:nth-child(2) {
              opacity: 0;
            }
  
            .hamburger.active .bar:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
  
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
          
          
          /* Gallery */
          .gallery {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: 40px;
              height: 60vh;
              gap: 20px;
          }
      }
    }
    
    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px) {
      body {
          nav {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
            .nav-menu {
              display: none;
            }
            .hamburger {
              display: flex;
              flex-direction: column;
              margin: 0;
              padding: 0;
            }
            .bar {
              background-color: #1cbbb4;
              margin: 3px;
            }
  
            .nav-menu.active {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 25vh;
              position:fixed;
              background-color: #1cbbb4;
              font-size: 25px;
              width: 100vw;
              color: #1cbbb4;
              font-size: 15px;
              left: 0px;
              gap: 25px;
              top: 70px;
            } 

            .nav-menu li a{
              color: white;
              padding: 20px;
            }

            #active-nav {
                text-decoration: underline;
                text-underline-offset: 10px;
                font-weight: 400;
                color: white;
            }
  
            .hamburger.active .bar:nth-child(2) {
              opacity: 0;
            }
  
            .hamburger.active .bar:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
  
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
          
      }
    }