
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

  /* Certification */
.certifications {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px 0px;
}


.nav-menu {
  margin: 0px;
  padding: 10px 0 0 0;
}


/* For Package */
.package {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center; 
  margin: 60px 0px 60px 0px;
}

.gallery {
  width: 90%;
}

.gallery-cell {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}


.gallery-cell img {
  height: 400px;
  width: 500px;
  margin-bottom: 20px;
}

.gallery-cell h1 {
  font-size: 26px;
  padding-left: 50px;
  color: #000;
}

.gallery-cell h1:hover {
  color: #1cbbb4;
  transform: scale(1.01);
}

.gallery-cell p {
  padding-left: 50px;
}

.review {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review h4 {
  padding-bottom: 7px;
}

.review-con {
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.review-con button {
  padding: 10px 20px;
  background-color: #1cbbb4;
  border: none;
  color: white;
  margin-right: 50px;
}

.review-con button:hover {
  transform: scale(1.1);
}

.star img {
  width: 15px;
  height: 15px;
}

.num-star {
  font-size: 12px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
