
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100%;
  }

  /* Certification */
.certifications {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px 0px;
}


.nav-menu {
  margin: 0px;
  padding: 10px 0 0 0;
}


/* For Package */
.package {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center; 
  margin: 60px 0px 60px 0px;
}

.gallery {
  width: 90%;
}

.gallery-cell {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}


.gallery-cell img {
  height: 400px;
  width: 500px;
  margin-bottom: 20px;
}

.gallery-cell h1 {
  font-size: 26px;
  padding-left: 50px;
  color: #000;
}

.gallery-cell h1:hover {
  color: #1cbbb4;
  transform: scale(1.01);
}

.gallery-cell p {
  padding-left: 50px;
}

.review {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review h4 {
  padding-bottom: 7px;
}

.review-con {
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.review-con button {
  padding: 10px 20px;
  background-color: #1cbbb4;
  border: none;
  color: white;
  margin-right: 50px;
}

.review-con button:hover {
  transform: scale(1.1);
}

.star img {
  width: 15px;
  height: 15px;
}

.num-star {
  font-size: 12px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .bar {
    background-color: #1cbbb4;
    margin: 3px;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    position:fixed;
    background-color: #1cbbb4;
    font-size: 25px;
    width: 450px;
    color: white;
    font-size: 15px;
    left: 0px;
    gap: 5px;
    top: 55px;
  } 

  .nav-menu li a{
    color: white;
    padding: 10px;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    position:fixed;
    background-color: #1cbbb4;
    font-size: 25px;
    width: 450px;
    color: white;
    font-size: 15px;
    left: 0px;
    gap: 5px;
    top: 55px;
  } 

  .nav-menu li a{
    color: white;
    padding: 10px;
  }

  #active-nav {
      text-decoration: underline;
      text-underline-offset: 10px;
      font-weight: 400;
      color: white;
  }


  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  

    /* Home Page */
    .package {
      margin: 0px;
      width: 100%;
      margin: 10px 0px 10px 10;
    }
    
    .gallery {
      width: 300px;
      width: 100%;
    }
  
    .gallery-cell {
      width: 300px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
    }
  
    .gallery .gallery-cell img {
      height: 300px;
      width: 290px;
      margin-bottom: 20px;
    }
  
    .gallery .gallery-cell h1 {
      font-size: 17px;
      padding-left: 50px;
      padding-left: 0px;
      color: #000;
    }
    
    .gallery .gallery-cell p {
      font-size: 13px;
      padding-left: 0px;
    }
  
     .gallery-cell .review-con {
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .gallery-cell .review-con .review {
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;
    }
  
    .review .star img {
      width: 15px;
      height: 15px;
    }
    
    .num-star {
      font-size: 12px;
    }
  
    .gallery-cell .review-con button {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px ;
    }
    
    .cert-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  
    .footer {
        margin-top: 200px;
    }
    .con-footer {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .con-footer2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .con-footer2 span {
      display: none;
    }
  
    .support1{
      text-align: center;
    }

  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    body {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
          .nav-menu {
            display: none;
          }
          .hamburger {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
          }
          .bar {
            background-color: #1cbbb4;
            margin: 3px;
          }

          .nav-menu.active {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 300px;
            position:fixed;
            background-color: #1cbbb4;
            font-size: 25px;
            width: 770px;
            color: white;
            font-size: 15px;
            left: 0px;
            gap: 5px;
            top: 55px;
          }
        
          .nav-menu li a{
            color: white;
            padding: 10px;
          }

          #active-nav {
              text-decoration: underline;
              text-underline-offset: 10px;
              font-weight: 400;
              color: white;
          }

          .hamburger.active .bar:nth-child(2) {
            opacity: 0;
          }

          .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          .hamburger.active .bar:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
          }

          /* Home Page */
    .package {
      margin: 0px;
      width: 100%;
      margin: 10px 0px 10px 10;
    }
    
    .gallery {
      width: 300px;
      width: 100%;
    }
  
    .gallery-cell {
      width: 300px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
    }
  
    .gallery .gallery-cell img {
      height: 300px;
      width: 290px;
      margin-bottom: 20px;
    }
  
    .gallery .gallery-cell h1 {
      font-size: 17px;
      padding-left: 50px;
      padding-left: 0px;
      color: #000;
    }
    
    .gallery .gallery-cell p {
      font-size: 13px;
      padding-left: 0px;
    }
  
     .gallery-cell .review-con {
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .gallery-cell .review-con .review {
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;
    }
  
    .review .star img {
      width: 15px;
      height: 15px;
    }
    
    .num-star {
      font-size: 12px;
    }
  
    .gallery-cell .review-con button {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px ;
    }
    
    .cert-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  
    .footer {
        margin-top: 200px;
    }
    .con-footer {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .con-footer2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .con-footer2 span {
      display: none;
    }
  
    .support1{
      text-align: center;
    }
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
          .nav-menu {
            display: none;
          }
          .hamburger {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
          }
          .bar {
            background-color: #1cbbb4;
            margin: 3px;
          }

          .nav-menu.active {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 300px;
            position:fixed;
            background-color: #1cbbb4;
            font-size: 25px;
            width: 1024px;
            color: white;
            font-size: 15px;
            left: 0px;
            gap: 5px;
            top: 55px;
          }

          .nav-menu li a{
            color: white;
            padding: 10px;
          }

          #active-nav {
              text-decoration: underline;
              text-underline-offset: 10px;
              font-weight: 400;
              color: white;
          }

          .hamburger.active .bar:nth-child(2) {
            opacity: 0;
          }

          .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          .hamburger.active .bar:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
          }
    }
  }
