
.carousel {
  display: flex;
  align-items: center;
  padding: 5px;
  }


  /* Certification */
.certifications {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px 0px;
}


