.services_ {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 50px;
}

.services-con-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-list{
    display: flex;
    margin-top: 40px;
    gap: 90px;
}

.services-con-1 h1 {
    text-transform: uppercase;
    color: #3C3D37;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.services-con-1 p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}


.ul1{ 
    padding: 0; 
    margin: 0; 
    list-style: none;
}

.ul1 > li{
    font-size: 15px; 
    font-weight: 400; 
    color: #959595; 
    margin-bottom: 8px;
}

.ul1 > li a {
    color:#959595; 
    text-decoration: none; 
    font-size: 20px;
    display: block; 
    padding: 5px 0px 5px 35px; 
    background: url(../images/li_st2.png) 0 3px no-repeat;
}

.ul1 a:hover {
    color: #1cbbb4;
    text-decoration: none;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      z-index: -1;
    }
    .nav-menu {
      display: none;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .bar {
      background-color: #1cbbb4;
      margin: 3px;
    }
  
    .nav-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        position:fixed;
        background-color: #1cbbb4;
        font-size: 25px;
        width: 450px;
        color: white;
        font-size: 15px;
        left: 0px;
        gap: 30px;
        top: 55px;
      }
  
    .nav-menu li a{
      color: white;
      padding: 20px;
    }

    #active-nav {
        text-decoration: underline;
        text-underline-offset: 10px;
        font-weight: 400;
        color: white;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
      .footer {
          margin-top: 200px;
      }
      .con-footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    
      .con-footer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .con-footer2 span {
        display: none;
      }
    
      .support1{
        text-align: center;
      }
  
      /* Services Page */

      .services_ {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-top: 50px;
    }

      .services_ .services-list {
          gap: 0px;
      }
  
      .services_ .services-list {
          display: flex;
          flex-direction: column;
          margin: 20px;
      }
  
    }
    
    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
      body {
          nav {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
            .nav-menu {
              display: none;
            }
            .hamburger {
              display: flex;
              flex-direction: column;
              margin: 0;
              padding: 0;
            }
            .bar {
              background-color: #1cbbb4;
              margin: 3px;
            }
  
            .nav-menu.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 300px;
                position:fixed;
                background-color: #1cbbb4;
                font-size: 25px;
                width: 770px;
                color: white;
                font-size: 15px;
                left: 0px;
                gap: 30px;
                top: 55px;
            }
          
            .nav-menu li a{
              color: white;
              padding: 20px;
            }

            #active-nav {
                text-decoration: underline;
                text-underline-offset: 10px;
                font-weight: 400;
                color: white;
            }

            .hamburger.active .bar:nth-child(2) {
              opacity: 0;
            }
  
            .hamburger.active .bar:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
  
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
          
  
            /* Services Page */
          .services_ .services-list {
              gap: 0px;
          }
  
          .services_ .services-list {
              display: flex;
              flex-direction: column;
              margin: 40px;
          }
      }
    }
    
    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px) {
      body {
          nav {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
            .nav-menu {
              display: none;
            }
            .hamburger {
              display: flex;
              flex-direction: column;
              margin: 0;
              padding: 0;
            }
            .bar {
              background-color: #1cbbb4;
              margin: 3px;
            }
  
            .nav-menu.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 300px;
                position:fixed;
                background-color: #1cbbb4;
                font-size: 25px;
                width: 1024px;
                color: white;
                font-size: 15px;
                left: 0px;
                gap: 30px;
                top: 55px;
            }

            .nav-menu li a{
                color: white;
                padding: 20px;
            }

            #active-nav {
                text-decoration: underline;
                text-underline-offset: 10px;
                font-weight: 400;
                color: white;
            }
  
            .hamburger.active .bar:nth-child(2) {
              opacity: 0;
            }
  
            .hamburger.active .bar:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
  
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
          
  
  
           /* Services Page */
          .services_ .services-list {
              display: flex;
              flex-direction: column;
              margin: 40px;
          }
  
          
      }
    }
    
    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
      body {
  
          /* Services Page */
  
          .services_ .services-list {
              display: flex;
              margin: 40px;
          }
      }
    }
    
    /* Media Query for Large screens */
    @media (min-width: 1281px) {
      body {
        background-color: white;
      }
    }

