@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #959595;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
    height: max-content;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #E1F0DA;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


a {
    text-decoration: none;
}

a img {
    height: 70px;
    width: 70px;
}

.social a img {
    height: 30px;
    width: 30px;
    padding-top: 3px;
}

ul {
    display: flex;
    font-size: 18px;
    padding-top: 10px;
    gap: 70px;
    list-style: none;
}

li a{
    text-decoration: none;
    align-items: center;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 400;
    color: #1cbbb4;
}



#active-nav {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 400;
    color: #1cbbb4;
}

/* Footer */
footer {
    background-color: #1cbbb4;
    padding-top: 4px;
    width: 100vw;
}
  
.con-footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #1E201E;
      padding: 18px;
      width: 100%;  
 }
  
.support1 {
      color: #E2DFD0;
      font-size: 18px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.con-footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 15px;
    color:#fff;
    gap: 10px;
}
  
span {
    color: #ccc;
}
  
.con-footer2 a, strong{
    text-decoration: none;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social2_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social2_wrapper h2 {
    color: #E2DFD0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social2{ 
    display: flex;
    gap: 30px;
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.social2 li a{
    display: block; 
    width: 39px; 
    height: 39px; 
    text-decoration: none; 
    background-repeat: no-repeat;
    transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.social2 li a:hover{
    background-position: bottom;
}

.social2 li.nav1 a{
    background-image: url(../images/social_ic1.png);
    border-radius: 5px;
}

.social2 li.nav3 a{
    background-image: url(../images/social_ic3.png);
    border-radius: 5px;
}

.f-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
    gap: 20px;
}

.f-logo img {
    width: 120px;
    height: 120px;
    border-radius: 2px;
}

.f-logo p {
    text-align:justify;
    color: #E2DFD0;
}




/* Guide */
.guide-con {
    display: flex;
    gap: 10px;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 10px;
}

.guide-con .g-active {
    color: #1cbbb4;
}

.guide-con a:hover {
    color: #1cbbb4;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Page Banner */
.page-privacy .page_banner{
    background: url(../images/privacy.jpg) center top no-repeat; 
    background-size: cover;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .nav-menu {
      display: none;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .bar {
      background-color: #1cbbb4;
      margin: 3px;
    }
  

    /* Home Page */
    .package {
      margin: 0px;
      width: 100%;
    }
  
    
    .gallery {
      width: 300px;
      width: 100%;
    }
  
    .gallery-cell {
      width: 300px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
    }
  
    .gallery .gallery-cell img {
      height: 300px;
      width: 290px;
      margin-bottom: 20px;
    }
  
    .gallery .gallery-cell h1 {
      font-size: 17px;
      padding-left: 50px;
      padding-left: 0px;
      color: #000;
    }
    
    .gallery .gallery-cell p {
      font-size: 13px;
      padding-left: 0px;
    }
  
     .gallery-cell .review-con {
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .gallery-cell .review-con .review {
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;
    }
  
    .review .star img {
      width: 15px;
      height: 15px;
    }
    
    .num-star {
      font-size: 12px;
    }
  
    .gallery-cell .review-con button {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px ;
    }
    
    .cert-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  
    .footer {
        margin-top: 200px;
    }
    .con-footer {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .con-footer2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .con-footer2 span {
      display: none;
    }
  
    .support1{
      text-align: center;
    }

    /* About Page */
    .about .a-company h1, .a-mission h1, .a-vision h1, .a-value h1 {
        font-size: 26px;
        text-align: center;
    }

    /* Services Page */
    .services_ .services-list {
        gap: 0px;
    }

    .services_ .services-list {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    /* Contact */
    .contact-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        gap: 20px;
        width: 100vw;
    }

    .contact-div .map .map iframe {
        width: 280px;
        height: 400px;
    }


  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    body {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
          .nav-menu {
            display: none;
          }
          .hamburger {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
          }
          .bar {
            background-color: #1cbbb4;
            margin: 3px;
          }

          .gallery {
            width: 500px;
          }
        
          .gallery-cell {
            width: 300px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
          }
        
          .gallery .gallery-cell img {
            height: 300px;
            width: 290px;
            margin-bottom: 20px;
          }
        
          .gallery .gallery-cell h1 {
            font-size: 17px;
            padding-left: 50px;
            padding-left: 0px;
            color: #000;
          }
          
          .gallery .gallery-cell p {
            font-size: 13px;
            padding-left: 0px;
          }
        
           .gallery-cell .review-con {
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        
          .gallery-cell .review-con .review {
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
          }
        
          .review .star img {
            width: 15px;
            height: 15px;
          }
          
          .num-star {
            font-size: 12px;
          }
        
          .gallery-cell .review-con button {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px ;
          }
          
          .cert-con {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
          }

          /* Services Page */
        .services_ .services-list {
            gap: 0px;
        }

        .services_ .services-list {
            display: flex;
            flex-direction: column;
            margin: 40px;
        }

        /* About Page */
        .about .a-company h1, .a-mission h1, .a-vision h1, .a-value h1 {
            font-size: 29px;
            text-align: center;
        }

        /* Gallery */
        .gallery {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 40px;
            height: 60vh;
            gap: 20px;
        }

        /* Contact */
        .contact-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px;
            gap: 20px;
            width: 100vw;
        }

        .map .map iframe {
            width: 400px;
            height: 400px;
        }
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
          .nav-menu {
            display: none;
          }
          .hamburger {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
          }
          .bar {
            background-color: #1cbbb4;
            margin: 3px;
          }

          .cert-con {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
          }


         /* Services Page */
        .services_ .services-list {
            display: flex;
            flex-direction: column;
            margin: 40px;
        }

        /* Contact */
        .contact-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px;
            gap: 20px;
            width: 100vw;
        }
        
    }
  }
  
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    body {

        /* Services Page */

        .services_ .services-list {
            display: flex;
            margin: 40px;
        }
    }
  }
  
  /* Media Query for Large screens */
  @media (min-width: 1281px) {
    body {
        background-color: white;
    }
  }
  
  

